body{
    background-color: black;
    display: flex;
    justify-content: center;
}

.post{
    background-color: white;
    width: 400px;
    height: 550px;
    font-size: 14px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}    


.post-header{
    display: flex;
    justify-content: space-between;
}

.rigoberto{
    display: flex;
    align-items: center;
    padding: 2px;
}

.logo{
    font-size: 40px;
}
.lista{
    line-height: 6px;
    padding-right: 10px;
}

.post-icons{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
}

.post-body{
    padding: 5px;
}